body {
  background-color: #ccc;
  height: 100vh;
}

.modal-background {
  cursor: pointer;
}

.card-lists {
  overflow-x: auto;
}

.panel-block {
  min-height: 80px;
}

.select, select {
  width: 100%;
}

.edit-card-button,
.icon-button {
  cursor: pointer;
}

button.icon-button {
  border: 0;
  background-color: inherit;
  margin: 0;
  padding: 0 !important;
  padding-inline: inherit;
}

.card {
  margin: 0.75rem;
  padding: 0;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  cursor: move;
}

.panel-heading,
.card {
  border-radius: 5px 5px 0 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-block,
.panel-heading,
.panel-tabs {
  border: 0;
}

.panel-block {
  padding: 1em 1.35em;
}

.box {
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  padding: 1.2rem 1rem;
}

.box:not(:last-child) {
  margin-bottom: 1rem;
}

.chosen-card .has-background-light,
.chosen-card .has-background-info,
.chosen-card .box,
.ghost-card .has-background-light,
.ghost-card .has-background-info,
.ghost-card .box {
  background: #4fb3f5 !important;
  box-shadow: inherit;
  transition: all 0.2s ease-out;
}

.ghost-card .box,
.chosen-card .box {
  border: 1px solid white;
  color: white;
  box-shadow: none;
}

.ghost-card .box .column.is-narrow,
.chosen-card .box .column.is-narrow {
  opacity: 0;
}

.highlight-card {
  filter: blur(2px);
  opacity: 0.6;
  transition: all 0.1s ease-in;
}

.ghost-todo,
.chosen-todo {
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.highlight-todo {
  background-color: #209cee;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tag__header {
  padding: 0 0.75rem;
  margin-bottom: 5px;
}

.todo__title,
.todo__buttons {
  padding: 0 0.75rem;
}

.tag--big {
  border-radius: 3px;
  padding: 3px 11px;
  min-width: 33px;
  font-size: 11px;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0 auto;
}

.tag--big-variant {
  color: black;
}

.tag--toggleable {
  cursor: pointer;
  border-radius: 0px;
  background-color: grey;
}

.tag--toggleable:hover {
  margin-top: -5px;
}

.tag--toggleable.selected:hover {
  background-color: grey !important;
}

.tag {
  border-radius: 3px !important;
  height: 0.7em !important;
  min-width: 33px !important;
}
